<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/daily_fresh/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/daily_fresh/css/main.css">
    <script type="text/javascript" src="/static/daily_fresh/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/daily_fresh/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/daily_fresh/js/jquery.cookie.js"></script>

    {% block base_head %}

    {% endblock %}

</head>
<body>

    {% block body %}

    {% endblock %}

    <div class="footer no-mp">
		<div class="foot_link">
			<a href="javascript:;">关于我们</a>
			<span>|</span>
			<a href="javascript:;">联系我们</a>
			<span>|</span>
			<a href="javascript:;">招聘人才</a>
			<span>|</span>
			<a href="javascript:;">友情链接</a>
		</div>
		<p>CopyRight © 2018 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

    {% block script %}

    {% endblock %}
</body>
</html>