{% extends 'df_user/base_top.html' %}

{% block title %}
    天天生鲜-用户中心
{% endblock title %}

{% block head %}
    <script>
        $(function () {
            $('.subtotle').each(function () {
                var price = $(this).siblings('.col05').children('.price').text();
                var count = $(this).prev().text();
                var subtotle= parseFloat(price)*parseInt(count);
                $(this).text(subtotle.toFixed(2)+'元');
            })
        })
    </script>
{% endblock %}

{% block center %}

    <div class="main_con clearfix">
        {# 左侧用户中心选项按钮 #}
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'df_user:user_center_info' %}">· 个人信息</a></li>
				<li><a href="{% url 'df_user:user_center_order' 1 %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'df_user:user_center_site' %}">· 收货地址</a></li>
			</ul>
		</div>
        {# 右侧订单信息 #}
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {# 订单列表 #}
            {% for order in page %}
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">{{ order.odate }}</li>
                    <li class="col02">订单号：<em>{{ order.pk }}</em></li>
                    <li class="col02 stress">未支付</li>
                </ul>
                {# 订单内的商品 #}
                <table class="order_list_table w980">
                        <tr>
                            <td width="55%">
                                {% for detail in order.orderdetailinfo_set.all %}
                                <ul class="order_goods_list clearfix">
                                    <li class="col01">
                                        <a href="{% url 'df_goods:detail' detail.goods_id %}">
                                            <img src="/static/media/{{ detail.goods.gpic }}">
                                        </a>
                                    </li>
                                    <li class="col02">
                                        <a href="{% url 'df_goods:detail' detail.goods_id %}">
                                            {{ detail.goods.gtitle }}
                                        </a>
                                    </li>
                                    <li class="col05">
                                        <em class="price">{{ detail.goods.gprice }}元</em>/{{ detail.goods.gunit }}
                                    </li>
                                    <li class="col03">{{ detail.ocount }}</li>
                                    <li class="col04 subtotle"></li>
                                </ul>
                                {% endfor %}
                            </td>
                            <td width="15%" class="totle">{{ order.ototle }}元</td>
                            <td width="15%">待付款</td>
                            <td width="15%"><a href="javascript:;" class="oper_btn">去付款</a></td>
                        </tr>
                </table>
            {% endfor %}

            {# 底部分页按钮 #}
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="{% url 'df_user:user_center_order' page.previous_page_number %}">< 上一页</a>
                {% else %}
                    <a href="javascript:;">< 上一页</a>
                {% endif %}
                {% for index in page.paginator.page_range %}
                    {% if page.number == index %}
                        <a href="javascript:;" class="active">{{ index }}</a>
                    {% else %}
                        <a href="{% url 'df_user:user_center_order' index %}" class="active">{{ index }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <a href="{% url 'df_user:user_center_order' page.next_page_number %}">下一页 ></a>
                {% else %}
                    <a href="javascript:;">下一页 ></a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock center %}
